<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>modeltest4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h2>입력한 문자열을 표시하는 예제</h2>
    <div id="app">
        <label><input type="checkbox" value="red" v-model="myChecks">적</label><br>
        <label><input type="checkbox" value="green" v-model="myChecks">녹</label><br>
        <label><input type="checkbox" value="blue" v-model="myChecks">청</label><br>
        선택한 색은 {{ myChecks }}
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
               myChecks: []
            }
        })
    </script>
</body>